<!doctype html>
<html>
    <head>
        <style>
            body {background-color: white;}
            p {color: grey;}
            label {border: 1px solid #ccc; padding: 10px; margin-left: 25px; display: block; font: "Raleway";}
            label: hover {background:#eee; cursor:pointer;}
        </style>
    </head>
   <body>
   {% for thing in result %}
   <div><p>
       <label>{{thing}}</label></p></div>
   {% endfor%}

   <p><input type = 'submit' value = "submit" /></p>
   </body>
</html>

